@mixin flex($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin media($width) {
  @media only screen and (max-width: #{$width + px}) {
    @content;
  }
}